<div class="auth-container">

  <!-- BACKGROUND -->
  <div class="background"></div>

  <!-- CARD -->
  <div class="auth-card">

    <!-- TABS -->
    <div class="tabs">

      <div class="tab"
           [class.active]="isLogin"
           (click)="switchTab(true)">
        Login
      </div>

      <div class="tab"
           [class.active]="!isLogin"
           (click)="switchTab(false)">
        Register
      </div>

    </div>


    <!-- LOGIN FORM -->
    <form *ngIf="isLogin"
          [formGroup]="loginForm"
          (ngSubmit)="login()">

      <h2>Welcome Back</h2>

      <div class="success" *ngIf="message">
        {{message}}
      </div>

      <div class="error" *ngIf="error">
        {{error}}
      </div>

      <input type="email"
             placeholder="Enter your email"
             formControlName="email">

      <div class="validation"
           *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">

        Email is required

      </div>


      <input type="password"
             placeholder="Enter your password"
             formControlName="password">

      <div class="validation"
           *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">

        Password is required

      </div>

      <button type="submit">
        Login
      </button>

    </form>



    <!-- REGISTER FORM -->
    <form *ngIf="!isLogin"
          [formGroup]="registerForm"
          (ngSubmit)="register()">

      <h2>Create Account</h2>

      <div class="success" *ngIf="message">
        {{message}}
      </div>

      <div class="error" *ngIf="error">
        {{error}}
      </div>


      <!-- NAME -->
      <input type="text"
             placeholder="Enter your name"
             formControlName="name">

      <div class="validation"
           *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">

        Name is required

      </div>


      <!-- EMAIL -->
      <input type="email"
             placeholder="Enter your email"
             formControlName="email">

      <div class="validation"
           *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">

        Email is required

      </div>


      <!-- PASSWORD -->
      <input type="password"
             placeholder="Enter your password"
             formControlName="password">

      <div class="validation"
           *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">

        Password is required

      </div>


      <!-- ROLE -->
      <select formControlName="role">

        <option value="BUYER">Buyer</option>

        <option value="SELLER">Seller</option>

      </select>


      <!-- BUSINESS NAME -->
      <input *ngIf="registerForm.get('role')?.value === 'SELLER'"
             type="text"
             placeholder="Enter business name"
             formControlName="businessName">


      <button type="submit">
        Register
      </button>

    </form>


  </div>

</div>